.main-paycheck {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 0.3px;
}
.off-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 10px 40px rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 700px;
}

.link-paycheck {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 100%;
  font-size: 24px;
  color: white;
  transition: 0.5s;
  &:hover {
    color: gray;
  }
}
.calendar {
  border: 2px solid rgb(1, 102, 128);
}
.results {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;
  background-color: #f4d03f;
  background-image: linear-gradient(0deg, #06465a 0%, #15a88b 100%);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  .rsd {
    color: rgb(251, 255, 0);
  }
  h1,
  h2 {
    font-size: 18px;
    margin: 4px 0;
    padding-left: 5px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  }
  .emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-left: 6.8rem;
    font-size: 30px;
    transform: rotate(20deg);
    filter: drop-shadow(0px 0px 10px red)
      drop-shadow(0px 0px 30px rgb(255, 0, 179));
  }
}

.calculator-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4d03f;
  background-image: linear-gradient(180deg, #06465a 0%, #15a88b 100%);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.calculator {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px;
  gap: 10px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    border-radius: 15px;
    height: 35px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 5px rgba(0, 250, 146, 0.5);
    transition: 0.1s;
    &:active {
      border: 1px red solid;
      color: greenyellow;
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0);
  padding-left: 10px;
  .radni-dan {
    margin-top: 5px;
    margin-bottom: 3px;
  }

  .subota {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .ukupna-satnica {
    margin-top: 3px;
    margin-bottom: 5px;
  }
}
